.album-container{
    background-color: #27293D;
    border-radius: 15px;
    height: fit-content;
    width: fit-content;
    padding: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px 18px #888888;
}

.album-image{
    border-radius: 5px;
}

.album-image img{
    height: 200px;
    width: 200px;
}

.album-info{
    margin-top: 20px;
}

.album-name{
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
}

.album-artist-name{
    color: gray;
    margin-top: 10px;
}

.album-see-details{
    background-color: darkcyan;
    border: none;
    color: white;
    text-align: center;
    border-radius: 15px;
    margin: auto;
    margin-top: 20px;
    padding: 5px 25px;
}