.album-container{
    background-color: #27293D;
    border-radius: 15px;
    height: fit-content;
    width: fit-content;
    padding: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px 18px rgb(24, 24, 24);
}

.album-image{
    border-radius: 5px;
}

.album-image img{
    height: 150px;
    width: 150px;
}

.album-info{
    margin-top: 0px;
}

.album-name{
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
}

.album-artist-name{
    color: gray;
    margin-top: 5px;
}

.album-see-details{
    background: #115173;
    border: none;
    color: white;
    text-align: center;
    border-radius: 15px;
    margin: auto;
    font-weight: 600;
    margin-top: 10px;
    padding: 5px 25px;
}


.track-table-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.track-image img {
    height: 50px;
    width: 50px;
}


.track-info{
    margin-left: 10px;
}

.track-name{
    font-weight: bold;
    color: #fff !important;
    margin-bottom: 2px;
}

.track-artist {
    font-size: smaller;
}

.featured-artist-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.artist-image img{
    border-radius: 50%;
}

.artist-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 15px;
}

.artist-principal{
    display: flex;
    flex-direction: row;
}

.artist-principal p {
    color: #fff !important;
    font-weight: bold;
    margin: 3px;
}

.artist-followers{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.artist-followers img {
    height: 16px;
    margin-right: 5px;
}

.artist-followers p {
    margin-bottom: 0;
}