.albumWrapper{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-auto-rows: 1fr

}

.album-container{
    background-color: #27293D;
    border-radius: 15px;
    /* height: fit-content; */
    width: fit-content;
    padding: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px 18px rgb(24, 24, 24);
    margin: 10px 10px;
    flex: 1;
}

.album-image{
    border-radius: 5px;
}

.album-image img{
    width: 100%;
}

.album-info{
    margin-top: 0px;
}

.album-name{
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
}

.album-artist-name{
    color: gray;
    margin-top: 5px;
}

.album-see-details{
    background: #115173;
    border: none;
    color: white;
    text-align: center;
    border-radius: 15px;
    margin: auto;
    font-weight: 600;
    /* margin-top: 10px; */
    margin-bottom: 5px;
    padding: 5px 25px;
}


.track-table-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.track-image img {
    height: 50px;
    width: 50px;
}


.track-info{
    margin-left: 10px;
}

.track-name{
    font-weight: bold;
    color: #fff !important;
    margin-bottom: 2px;
}

.track-artist {
    font-size: smaller;
}

.featured-artist-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.artist-image img{
    border-radius: 50%;
}

.artist-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 15px;
}

.artist-principal{
    display: flex;
    flex-direction: row;
}

.artist-principal p {
    color: #fff !important;
    font-weight: bold;
    margin: 3px;
}

.artist-followers{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.artist-followers img {
    height: 16px;
    margin-right: 5px;
}

.artist-followers p {
    margin-bottom: 0;
}


.album-detail-container{
    display: flex;
    flex-direction: column;
}


.album-detail-info{
    display: flex;
    align-items: flex-end;
}

.album-detail-info .sub-info{
    padding: 0 0 20px 20px;
}

.album-detail-info .title{
    color: #fff;
    font-weight: bold;
    font-size: 40px;
}


.album-detail-info .bottom-info{
    display: flex;
}

.album-detail-info .bottom-info p {
    margin: 0 10px 0 0;
}

.album-detail-info img{
    width: 300px;
}

.songs{
    padding: 15px;
}



.album-detail-container .backButton{
    border: none;
    background: none;
    color: #fff;
    margin: 15px 0;
}

.album-detail-container .backButton img{
    margin-right: 5px;
}