

.sidebar-container {
    border-radius: 20px;
    height: 100%;
    width: fit-content;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 30px;
    margin: 0 30px;
    color: white;
}

.sidebar-container .menu-item {
    cursor: pointer;
}


.sidebar-container .active {
    color: black;
    text-decoration: underline;
}
/* sidebar.css */

/* sidebar.css */

.sidebar-container {
    width: 200px;
    height: 100vh;
    background-color: #263e57;
    color: #fff;
    padding: 20px;
  }
  
  .menu-item {
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    padding: 10px;
    border-radius: 5px;
    background-color: #343a40;
  }
  
  .menu-item:hover {
    background-color: #1ed760;
  }
  
  .active {
    background-color: #1ed760;
    font-weight: bold;
  }
  
  