

.sidebar-container {
    background: linear-gradient(180deg, rgba(39,129,0,1) 0%, rgba(168,246,131,1) 100%);
    border-radius: 20px;
    height: 100%;
    width: fit-content;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 30px;
    margin: 0 30px;
    color: white;
}

.sidebar-container .menu-item {
    cursor: pointer;
}


.sidebar-container .active {
    color: black;
    text-decoration: underline;
}